
:root {
    --color-primary: #F9F9F9;
    --color-secundary: #181818;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: var(--color-text-one);
}

/*---------- HEADER ----------*/

.header {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}

.promotion-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    background-color: var(--color-secundary);
    color: var(--color-primary);
}

.title-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
}


/*---------- BANNER ----------*/


.container .banner img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    opacity: 0.7;
    filter: brightness(70%);
}

.container .text-banner {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 240px;
    left: 80px;
    color: var(--color-primary);
}

.container .text-banner .img-title {
    margin-bottom: 8px;
    font-size: 42px;
}

.container .text-banner .description {
    font-size: 20px;
}


/*---------- PRODCUTS ---------*/




/*---------- RESPONSIVE ---------*/

