
:root {
    --color-primary: #F9F9F9;
    --color-secundary: #181818;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: var(--color-text-one);
}

/*---------- HEADER ----------*/

.header {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}

.promotion-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 45px;
    background-color: var(--color-secundary);
    color: var(--color-primary);
}

.title-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 45px;
}


/*---------- BANNER ----------*/


.container .banner img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    opacity: 0.7;
    filter: brightness(70%);
}

.container .text-banner {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 198px;
    left: 80px;
    color: var(--color-primary);
}

.container .text-banner .img-title {
    margin-bottom: 8px;
    font-size: 42px;
}

.container .text-banner .description {
    font-size: 20px;
}


/*---------- PRODCUTS ---------*/


.emphasis-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: auto;
}

.emphasis-text .emphasis {
    display: flex;
    justify-content: center;
    margin: 60px 0 20px 0;
    font-size: 30px;
}

.emphasis-text .information {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px;
    font-size: 18px;
}


/*---------- CARDS ---------*/


.cards {
    width: 1380px;
    height: auto;
    margin-left: 15%;
    margin-bottom: 60px;
}

.cards img {
    width: 300px;
    height: auto;
    margin: 20px;
}


/*---------- FOOTER ---------*/


.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 45px;
    background-color: var(--color-secundary);
    color: var(--color-primary);
}

/*---------- RESPONSIVE ---------*/

@media (max-width: 414px) {
    .banner img {
        width: 100%;
        opacity: 0.8;
    }
    .container .text-banner {
        top: 134px;
        left: 20px;
        font-size: 18px;
    }

    .container .text-banner .description {
        width: 340px;
        font-size: 18px;
    }

    .emphasis-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 380px;
        text-align: center;
    }

    .cards {
        display: flex;
        flex-direction: column;
        user-select: none;
        align-items: center;
        width: 100%;
        margin: 0;
    }

    .product-card img {
        width: 380px;
        height: auto;
    }
}

